html, body
    width: 385px
    height: 600px
    margin: 0
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    border-radius: 20px

*,*:after,*:before
    box-sizing: border-box

code
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.App
    text-align: center

    &-logo
        height: 40vmin
        pointer-events: none

@media (prefers-reduced-motion: no-preference)
.App-logo
    animation: App-logo-spin infinite 20s linear

.container
    // background-color: $gray
    background: radial-gradient(60.07% 27.96% at 13.83% 74.62%, rgba(0, 102, 255, 0.04) 0%, rgba(0, 102, 255, 0) 100%), radial-gradient(26.36% 12.27% at 100.26% 14.2%, rgba(0, 102, 255, 0.04) 0%, rgba(0, 102, 255, 0) 100%), #F2F2F2
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-size: calc($base-fontsize + 2vmin)
    color: $black
    padding: 20px

.App-link
    color: #61dafb

@keyframes App-logo-spin
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

input
    font-size: calc($base-fontsize + 2vmin)
    border: none
    outline: none

.input-line
    border-bottom: 1px solid $gray-light
    background-color: transparent
    padding: 10px 0 10px 35px
    +base-img('search.svg')
    background-position: left center
    background-size: calc(15px + 2vmin)

h2
    margin: 0
    font-size: calc($base-fontsize + 4vmin)
