.index
    .container
        justify-content: space-between

.serach-section
    width: 100%

    input
        width: 100%

.clients-cards
    width: 100%
    margin-top: $uni-size
    text-align: left

.cc-item
    margin-bottom: 17px
    background: rgba(255, 255, 255, 0.6)
    border-radius: 10px
    border: 1px solid transparent
    padding: $uni-size
    cursor: pointer

    &:hover
        border: 1px solid #ECECEC
        background-color: #fff

    &:last-child
        margin-bottom: 0

.cci-name
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: $uni-size

.cci-actions
    display: flex

    & > div
        width: 20px
        height: 20px
        background-position: center center
        background-size: contain
        cursor: pointer

.ccin-text
    white-space: nowrap
    max-width: 84%
    overflow: hidden
    text-overflow: ellipsis

.ccia-edit
    +base-img('edit.svg')
    margin-right: $uni-size

    &:hover
        filter: sepia(100%) hue-rotate(155deg) saturate(1000%)

.ccia-remove
    +base-img('bin.svg')
    filter: grayscale(1)

    &:hover
        filter: none

.cci-auto
    margin-bottom: calc($uni-size / 2)

.cci-params
    display: flex
    align-items: center
    justify-content: flex-start

    & > div
        font-size: calc($base-fontsize + 1.5vmin)
        margin-right: 18px
        color: $gray

        &:last-child
            margin-right: 0

.ccip-drivers
    padding-left: 25px
    +base-img('driver.png')
    background-position: left center
    background-size: 20px

.copy-section
    margin-top: $uni-size
    border: 1.48329px dashed $gray-light
    border-radius: 18px
    padding: 15px 17px
    width: 100%

.cs-actions
    display: flex
    align-items: center
    justify-content: space-between

    & > div
        cursor: pointer


.csa-new
    font-size: 45px
    color: $gray-light
    line-height: 22px

    &:hover
        color: #41a6ff

.csa-settings
    width: 28px
    height: 28px
    +base-img('settings.png')
    background-position: center center
    background-size: contain
    opacity: .8

    &:hover
        opacity: 1

.cs-button
    cursor: pointer
    margin-top: -15px

.cs-copiimg
    width: 23px
    height: 30px
    +base-img('copy.svg')
    background-position: center center
    background-size: contain
    margin: 0 auto

.cs-title
    margin: calc($uni-size / 2) 0 5px

.cs-text
    font-size: calc($base-fontsize + 1.5vmin)
    color: $gray-light