.user-page
    text-align: center
    background-color: rgba(0,0,0, 0.1)
    height: 100vh
    padding: $uni-size

    h2
        margin-bottom: calc($uni-size + 2vmin)

.form-group
    margin-bottom: calc($uni-size)

    &:last-child
        margin-bottom: 0
        
    label
        margin-bottom: calc($uni-size / 2)
        display: block

input.form-control
    border: 1px solid $gray
    border-radius: 5px
    padding: 10px 15px

    &.is-invalid
        border-color: red

.invalid-feedback
    margin-top: calc($uni-size / 3)
    color: lighten(red, 20%)